header.bg-indigo-600.p-4.shadow-lg
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes
            span.font-normal Raices

        nav(class="text-sm md:flex md:items-center md:gap-5 font-bold text-white hidden")
            a(href="" class="hover:text-gray-300")  My properties
            a(href="" class="hover:text-gray-300")  Profile
            a(class="bg-indigo-800 py-2 px-10 rounded-lg hover:text-rose-500" href="")  Logout