extends ../layout/index

block content
    .py-10
        h1.text-center.text-4xl.my-10.font-extrabold Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= title

        if error
            p.text-xl.font-bold.text-center.my-10.text-red-600= error
        else 
            p.text-xl.font-bold.text-center.my-10.text-green-600= message

        if confirm
            .mx-auto.text-center
                a(href="/login" class="mx-auto text-center font-bold uppercase text-gray-100 mt-10 text-sm px-5 py-3 rounded-md bg-gray-700 hover:bg-transparent hover:text-gray-700 hover:border hover:border-gray-700") Log in here